@model IEnumerable<Jc.LojaVirtual.Dominio.Entidades.Produto>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoDescricaoResumida)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MarcaDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ModeloDescricao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProdutoModeloCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CorCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TamanhoCodigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UnidadeVenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoDescricaoResumida)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MarcaDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ModeloDescricao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProdutoModeloCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CorCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TamanhoCodigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UnidadeVenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Preco)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ProdutoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.ProdutoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ProdutoId })
        </td>
    </tr>
}

</table>
